fastapi
uvicorn
redis
pydantic
pydantic-settings
python-multipart
pytest
pytest-asyncio
httpx
rich
psutil
datasets
huggingface_hub
hf_transfer
ratelimit
ruff
pre-commit

# Unit Test
pytest
pytest-cov
beautifulsoup4
fake-useragent
imageio
keras
lxml
matplotlib
numpy
opencv-python
pandas
pillow
requests
rich
scikit-learn
sphinx-pyproject
statsmodels
sympy
tweepy
typing_extensions
xgboost
flask
seaborn
networkx
